<div ng-controller="GoersController">

<h1 id="heart" ng-show="heartToggle">&#10084</h1>
<header class="header">
  <div>
    <h1>PARADISE ISLAND</h1>
  </div>
</header>

<div class="container">
<h2>ISLAND GOERS </h2>

  <ul class="users">
    <span class="user" ng-repeat="goer in island_goers">
      <img src="{{ goer.avatar }}" alt="Photo of {{ goer.name }}" />
      <h4>{{ goer.name }}</h4>
      <p>
        {{ goer.address }}
      </p>
      <p>
        {{ goer.email }}
      </p>
      <button ng-click="heartMe($index)" ng-class="goer.liked ? 'liked' : 'like' ">Like</button>
    </span>
  </ul>

</div>

</div>

<!-- <div id="flamingo">
  <img src="http://img06.deviantart.net/36b4/i/2014/266/8/0/flying_this_way_flamingo_pink_by_madetobeunique-d3ajyux.png" alt="flamingo"/>
</div> -->
