<div ng-controller="GoersController">
  <div class="container">
    <div class="row">
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Postal Code</th>
            <th>Country</th>
            <th>Email</th>
            <!-- <th>Delete</th> -->
          </tr>
        </thead>
        <tbody class="user" ng-repeat="goer in island_goers">
          <tr>
            <td><img src="{{ goer.avatar }}" alt="Photo of {{ goer.name }}" /></td>
            <td>{{ goer.name }}</td>
            <td>{{ goer.postcode }}</td>
            <td>{{ goer.country }}</td>
            <td>{{ goer.email }}</td>
            <!-- <td><button ng-click="deleteGuest(goer.id)" name="button"></button></td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <hr class="teal-border">
    <div class="row">
      <h2>ADD GUESTS</h2>
    </div>
    <form ng-submit="addGuest()">
      <div class="row">
        <div class="six columns">
          <label for="name">Name</label>
          <input class="u-full-width" type="text" placeholder="your name" id="name" ng-model="name">
        </div>
        <div class="six columns">
          <label for="post">Postal Code</label>
          <input class="u-full-width" type="text" placeholder="postal code" id="post" ng-model="post">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="country">Country</label>
          <input class="u-full-width" type="text" placeholder="country" id="country" ng-model="country">
        </div>
        <div class="six columns">
          <label for="email">Email Address</label>
          <input class="u-full-width" type="email" placeholder="bender@paradise.com" id="email" ng-model="email">
        </div>
      </div>
      <input class="button-primary" type="submit" value="Submit">
    </form>
  </div>
</div>

<div id="flamingo">
  <img src="http://img06.deviantart.net/36b4/i/2014/266/8/0/flying_this_way_flamingo_pink_by_madetobeunique-d3ajyux.png" alt="flamingo"/>
</div>
